<div class="container">

    <%= will_paginate %>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th class="text-right"></th>
            </tr>
            </thead>

            <tbody>

            <% @events.each do |event| %>
            <tr>
                <td>
                    <span class="label label-success"><%= event.activity.name %></span>
                    <span class="label label-success"><%= event.event_type.name unless event.event_type.nil? %></span>
                    <br />
                    <strong><%= event.title %> @ <%= event.venue.name %> on <%= event.start_date.strftime("%m/%d/%Y") %></strong>
                    <%= "<br />".html_safe + event.subtitle unless event.subtitle.nil? %>
                    <br />
                    Cost: <%= event.price %>. &nbsp;&nbsp;&nbsp;&nbsp;
                    Restrictions: <%= event.restrictions %>.
                    <br />
                    <i class="small">Added <%= time_ago_in_words event.created_at %> ago on <%= event.created_at.strftime("%m/%d/%Y") %> at <%= event.created_at.strftime("%l:%M%P") %> ET by <%= User.find(event.owner_id).name %></i>
                </td>
                <td class="td-actions text-right">
                    <% if current_user && (current_user.admin? || current_user.id == event.owner_id) %>
                        <%= link_to "edit", edit_event_path(event), class: 'pull-right btn btn-default' %>
                        <%= link_to "delete", event, method: :delete, data: {confirm: "You sure?"}, class: 'pull-right btn btn-danger' %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <% end %>

            </tbody>
        </table>
    </div>

    <%= will_paginate %>

</div>
