<li>
  <%= link_to venue.name, venue, style: 'font-size:1.25em;' %>
  <br /> <%= venue.formatted_address %>
  <%= link_to "delete", venue, method: :delete, data: { confirm: "You sure?" }, class: 'pull-right' %>
</li>