<% provide(:title, 'Admin -> Activities') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4>Activities</h4>

    <% if @activities.count == 0 %>
        <h5>None</h5>
    <% end %>

    <div class="table-responsive">
      <table class="table">
        <tbody>

        <% @activities.each do |activity| %>

            <tr>
              <td><%= link_to activity.name, activity %></td>
              <td class="td-actions text-right">

                <%= link_to "<button type='button' rel='tooltip' title='Remove' class='btn btn-danger btn-simple btn-sm'><i class='fa fa-times'></i></button>".html_safe,
                            activity, method: :delete, data: {confirm: 'Are you sure?'}, class: 'pull-right' %>

                <%= link_to "<button type='button' rel='tooltip' title='Edit Activity Name' class='btn btn-success btn-simple btn-sm'><i class='fa fa-edit'></i></button>".html_safe,
                            edit_activity_path(activity), class: 'pull-right' %>

              </td>
            </tr>

        <% end %>

        </tbody>
      </table>
    </div>

    <%= link_to 'Setup a new activity', new_activity_path, class: "btn btn-lg btn-primary" %>

  </div>
</div>







