<h1>Activities</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <ul class="users">
      <% @activities.each do |activity| %>
          <li>
            <%= link_to activity.name, activity, style: 'font-weight:bold; font-size:1.25em;' %>
            <%= link_to '[Delete]', activity, method: :delete, data: {confirm: 'Are you sure?'}, class:'pull-right' %>
            <span class="pull-right">&nbsp;|&nbsp;</span>
            <%= link_to '[Edit]', edit_activity_path(activity), class: 'pull-right' %>
          </li>
      <% end %>
    </ul>

    <br />
    <%= link_to 'New Activity', new_activity_path, class: "btn btn-lg btn-primary" %>

    </div>
  </div>




