<% provide(:title, 'New Activity') %>

    <div class="row">

      <% if @activity.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@activity.errors.count, "error") %>.
            </div>
            <ul>
              <% @activity.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
        <h4>New Activity</h4>

        <%= render 'form' %>

        <br />
        <%= link_to 'Back to list of activities', activities_path %>

        </div>
      </div>

